.borderedScreen {
    border: 1px solid black;
}

.plainText {
    text-decoration: none;
}

.iphone8 {
    width: 375px;
    height: 667px;
}

.iphone8_side {
    width: 667px;
    height: 375px;
}

.iphone8plus {
    width: 414px;
    height: 736px;
}